@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}
body{
    width: 100%;
    height: auto;
    background: #311706;
    color: #F5EFE6;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    letter-spacing: 1px;
    background-color: #8c2f10;
    height: 10vh;
}
#logo{
    width: 5vw;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
header ul li a{
    text-decoration: none;
    color: #F5EFE6;
    font-weight: bold;
    padding: 15px 45px;
    text-transform: uppercase;
}
#login{
    padding: 14px 35px;
    background-color: #3a1a03;
    margin: 0 15px;
    border-radius: 8px;
    transition: 0.5s ease;
    text-transform: uppercase;
}
#login:hover{
    background-color: #F5EFE6;
    color: #572805;
}
#background-section{
    overflow-y: hidden;
}
#background{
    width: 100%;
    position: absolute;
    z-index: -1;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#historia{
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.imagem-destaque{
    width: 30%;
    height: 30%;
}
h4{
    margin: 10px 0;
    font-family: "Raleway", sans-serif;
}
p{
    margin: 10px 0;
}
.corpo-section{
    width: 75%;
    align-items: center;
    padding: 50px 50px;
    margin:120px 0;
}
h1{
    font-family: "Raleway", sans-serif;
    text-align: center;
}
.box-registro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
hr{
    width: 500px;
    margin: 0 20px;
}
.destaque{
    display: flex;
    height: 650px;
    align-items: center;
    text-align: center;
}
#destaque{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F5EFE6;
    padding-bottom: 200px;
    font-size: 48px;
}
#destaque-link{
    text-decoration: none;
    font-size: 32px;
    color: #F5EFE6;
    font-weight: bold;
    background-color: #a73712;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.2s ease;
}
#destaque-link:hover{

    background-color: #da4919;
}
.twitterblock h2{
    text-align: center;
}
h2{
    font-family: "Raleway", sans-serif;
    margin: 20px 0;
    font-size: 32px;
}